{% extends 'mainbase.html'%}

{% block title %}Users{% endblock %}

{% block content %}
<style>
    html,body{
        background-color:#fffdfb;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-black font-weight-bold display-4"style="margin-top:10vw; margin-left: 15vw;">Users</h1>
                </div>
            </div>
            
            <br>
            <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <table  class="table table-borderless table-hover table-striped">
                <tr style="background-color:#3e2723;color:white;">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th></th>
                    <th></th>
                </tr>
                {%for u in all_users%}
                <tr>
                    <td>{{u.first_name}}</td>
                    <td>{{u.last_name}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.phone}}</td>
                    <td>
                    {% if u.is_staff %}
                    <p>ADMIN</p>
                    {% else %}
                    <button class="btn-danger btn"><a href="{% url 'user_remove' u.id %}" class="text-white">Remove</a></button>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}