{% extends 'mainbase.html'%}
{% load static %}
{% block title %}Registration{% endblock %}

{% block content %}

<style>
    .errorlist {
        list-style-type: none;
        color: red;
        padding-left: 0;
    }

    /* .card-header{
        background-color:;
    } */
    .card {
        width: 600px;
        background-color: rgba(255, 255, 255, 0.7) !important;
        padding-bottom: 0.5vw;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h1 class="display-3 text-center">Registration</h1>
            </div>
            {% if connectivity %}
            <div class="card-body">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <div id="names" class="row">
                            <div name="firstname" class="col-md-5 was-validated">
                                {{ form.first_name }}
                                <label for="id_first_name">First Name</label>
                            </div>
                            <div name="lastname" class="col-md-7">
                                {{ form.last_name }}
                                <label for="id_last_name">Last Name</label>
                            </div>
                        </div>
                        <span class="row col">{{ form.first_name.errors }}</span>
                        <div id="contact" class="row">
                            <div name="email" class="col-md-7 was-validated">
                                {{ form.email }}
                                <label for="id_email">Email</label>
                            </div>
                            <div name="phonenum" class="col-md-5">
                                {{ form.phone }}
                                <label for="id_phone">Phone</label>
                            </div>
                        </div>
                        <span class="row col">{{ form.email.errors }}</span>
                        <div id="credentials">
                            <div class="row was-validated">
                                <div name="username" class="col-md-6">
                                    {{ form.username }}
                                    <label for="id_username">Username</label>
                                </div>
                            </div>
                            <span class="row col">{{ form.username.errors }}</span>
                            <div class="row was-validated">
                                <div name="password1" class="col-md-6">
                                    {{ form.password1 }}
                                    <label for="id_password1">Password</label>
                                    <span class="row col">{{ form.password1.errors }}</span>
                                </div>
                                <div name="password2" class="col-md-6">
                                    {{ form.password2 }}
                                    <label for="id_password2">Password Confirmation</label>
                                    <span class="row col">{{ form.password2.errors }}</span>
                                </div>
                            </div>
                        </div>

                        <div id="reception" class="row">
                            <div class="col">
                                <label for="id_receive_reports" style="margin-right: 1vw;">
                                    Enable Reception of Monthly Reports</label>
                                {{ form.receive_reports }}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" name="register" value="Register" class="btn btn-primary">
                    </div>
                </form>
            </div>
            {% else %}
            <div class="text-center" style="color: white;">
                <h1 class="display-1" style="color: red;">No Internet!</h1>
                <h3>Registration process cannot be continued without internet connection.</h3>
                <h3>Please connect your device to the internet, and then refresh the browser.</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}