{% extends 'mainbase.html'%}

{% block title %}Users{% endblock %}

{% block content %}
<div class="col">
    <h1 class="display-4">Users</h1>

    <table style="width: 60%;">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        {%for i in user%}
        <tr>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td><a href="{% url 'UserRemove' i.id %}">Delete</a></td>
          
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'register' %}"><h1 class="btn btn-primary" style="margin-top: 3vw;">Register New User</h1></a>
</div>
{% endblock %}