{% extends 'mainbase.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="col-md-6">
    <h1 class="display-4">Change Password</h1>
    <form method="POST" style="margin-top: 3vw;">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">{{ form.old_password.label }}</div>
                <div class="col-md-7">{{ form.old_password }}</div>
            </div>
            <div class="row">
                <div class="col-md-5">{{ form.new_password1.label }}</div>
                <div class="col-md-7">{{ form.new_password1 }}</div>
            </div>
            <div class="row">
                <div class="col-md-5">{{ form.new_password2.label }}</div>
                <div class="col-md-7">{{ form.new_password2 }}</div>
            </div>
            {% for field in form %}
            {% for error in field.errors%}
            <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {% endfor %}
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}