{% extends 'mainbase.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6">
        <div class="card card-cascade narrower">
            <div class="card-header bg-dark">
                <h1 class="display-4 text-center text-white">Change Password</h1>
            </div>
            <div class="card-body">
                <form method="POST" style="margin-top: 2vw;">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-5 text-center">
                            <label for="id_register_num">Old password</label>
                        </div>
                        <div class="col-md-7">
                            {{ form.old_password }}
                            
                        </div>
                    </div>
                        <!-- <div class="row">
                            <div class="col-md-5">{{ form.old_password.label }}</div>
                            <div class="col-md-7">{{ form.old_password }}</div>
                        </div> -->
                        <div class="form-group row">
                            <div class="col-md-5 text-center">
                                <label for="id_register_num">New password</label>
                            </div>
                            <div class="col-md-7">
                                {{ form.new_password1 }}
                                
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-5">{{ form.new_password1.label }}</div>
                            <div class="col-md-7">{{ form.new_password1 }}</div>
                        </div> -->
                        <div class="form-group row">
                            <div class="col-md-5 text-center">
                                <label for="id_register_num">New password confirmation</label>
                            </div>
                            <div class="col-md-7">
                                {{ form.new_password2 }}
                                
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-5">{{ form.new_password2.label }}</div>
                            <div class="col-md-7">{{ form.new_password2 }}</div>
                        </div> -->
                        {% for field in form %}
                        {% for error in field.errors%}
                        <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                    
                    <input type="submit" value="Submit" class="btn btn-primary">
                    
                </form>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

{% endblock %}