<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <h1>Change Password</h1>

        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        <br>
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        <br>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <br>
        {% for field in form %}
            {% for error in field.errors%}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

</body>

</html>