{% extends 'mainbase.html' %}

{% block title %}Statistics - Date Range{% endblock %}
{% block content %}
<style>
    html,body{
        background-color:#f8f4ef;
    }

</style>

<div class="col">
    <h4 class="display-4 text-center"style="margin-top:8vw; margin-bottom:2vw;">Records within a date of range</h4>
    <form action="{% url 'DailyRecords' %}" method="POST">
        {% csrf_token %}
        
        <div class="row" style="margin-left: 18vw;">
            <div class="col-md-3"><label for="id_start_date">Start Date: </label> {{ form.start_date }}</div>
            <div class="col-md-3"><label for="id_start_date">End Date: </label> {{ form.end_date }}</div>
        

            <div id="search_panel" class="col-md-2">
                <!-- <h3 class="display-4 text-center">Search here</h3> -->
                <input type="submit" value="Search" class="col btn btn-primary" style="margin-top: 1.8vw;">
            </div>
        </div>
        

    </form>
    {% if all_results %} 
    <div class="row">
        <div id="date_range_chart" style="margin-left: 10%;margin-top: 2vw;">
            <canvas id="myChart" width="1200" height="450"></canvas>
            <script> 
        
                const label = [{%for i in all_results%}'{{i.record_date}}',{% endfor%}];
                const data =  [{%for i in all_results%}'{{i.total_count}}',{% endfor%}]
                
            
            
            
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels:label,
                    datasets: [{
                        label: 'count',
                        data:data,
                        
                        backgroundColor: [
                            'brown',
            
                        ],
                        borderColor: [
            
                            'brown'
                        ],
                        borderWidth: 4,
                        fill:false,
                        lineTension:0
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontColor: "black",
                                fontSize: 10,
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                ticks: {
                    fontColor: "black",
                    fontSize: 10,
                    
                    beginAtZero: true
                }
            }]
                    }
                }
            });
            </script>
        </div>
    </div>
            
    <div class="row" style="margin-left: 10%;margin-top:2vw;">
        <div class="col-md-2">
            <h4 style="color: red; margin-top: 1vw;">Peak day{{ peak_results|pluralize }}: </h4>
        </div>
        <div class="col-md-4" style="margin-top: 1vw;">
            {% for each in peak_results %}
            <p>{{ each.record_date|date:"Y-m-d"}} (Total Count = {{ each.total_count }})</p>
            {% endfor %}
        </div>
        
    </div>            
        
                
    <div class="row">
        
        <table class="table table-borderless table-hover " style="margin-left: 20%; margin-top: 5vw;">
            <th>Date</th>
            <th>Total Count</th>
            <th>Peak hour</th>

            {% for each in all_results %}
            <tr {% if each in peak_results %} style="background-color: palevioletred;" {% endif %}
                {% if each.record_date == single_date %} style="background-color: greenyellow;" {% endif %}></tr>
                <td style="padding-left: 5px;">{{ each.record_date|date:"Y-m-d" }}</td>
                <td>{{ each.total_count }}</td>
                <td>{{ each.peak_hour_start|date:"H:i" }} to
                    {{ each.peak_hour_end|date:"H:i" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div> 
    {% elif invalid_date_range %}
        <p style="color: red;">Invalid Date Range!</p>
    {% else %}
    <div class="text-center" style="margin-top: 10%;">
        <h4>Sorry, No Results!</h4>
    </div>
    {% endif %}           
                
                
</div>



{% endblock %}