{% extends 'mainbase.html' %}

{% block title %}Remove Recipient{% endblock %}

{% block content %}

<div class="col-md-6">
    <!-- <h1 class="display-4">Remove Recipient</h1> -->
    <h3 class="text-bold">Are you sure you want to delete "{{item.name}}"?</h3>

    <form action="{% url 'RecipientRemove' item.id %}" method=POST>

        {% csrf_token %}
        <a href="{% url 'Security' %}"><span class="btn btn-secondary">Cancel</span></a>

        <input type="submit" name="Confirm" value="Remove" class="btn btn-danger">

    </form>
</div>
{% endblock %}