{% extends 'mainbase.html' %}

{% block title %}Add Recipient{% endblock %}

{% block content %}
<div class="col-md-6">
    <h1 class="display-4">Add New Recipient</h1>
    <form action="" method=POST>
        {% csrf_token %}

        <div class="form-group">
            <div class="col-md-6">
                {{ form.register_num }}
                <label for="id_register_num">Registration Number</label>
            </div>
            {% if form.register_num.errors %}
                <p class="col" style="color: red;">Registration number is not unique.</p>
            {% endif %}
            <div class="col-md-6">
                {{ form.name }}
                <label for="id_name">Name</label>
                {{ form.email }}
                <label for="id_email">Email</label>
            </div>
            {% if form.email.errors %}
            <p class="col" style="color: red;">Email is already being used by a recipient.</p>
            {% endif %}
        </div>

        <input type="submit" value="Register" class="btn btn-primary">
    </form>
</div>
{% endblock %}