{% extends 'mainbase.html' %}

{% block title %}Remove Recipient{% endblock %}

{% block content %}
<style>
    html,body {
        background-color: #f8f4ef;
    }
</style>
<div class="col-md-6" style="margin-top:8vw; margin-left: 10vw;">
    <!-- <h1 class="display-4">Remove Recipient</h1> -->
    <h3 class="text-bold">Are you sure you want to delete "{{item.name}}"?</h3>

    <form action="{% url 'RecipientRemove' item.id %}" method=POST>

        {% csrf_token %}
        <a href="{% url 'Security' %}"><span class="btn btn-secondary" id="cancel">Cancel</span></a>

        <input type="submit" name="Confirm" value="Remove" class="btn btn-danger" id="remove">

    </form>
</div>
{% endblock %}