
{% extends "mainbase.html "%}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
     ;
    #live-footage {
        margin-top: 1vw;
        width: 640px;
        height: 360px;
        border-style: solid;
    }
    #notification-bar {
        background-color: rgba(255,0,0,0.3);
        color: maroon;
        padding-left: 1vw;
        padding-top: 1px;
        padding-bottom: 1px;
    }
</style>
{% for n in notif %}

<div class="row" id="notification-bar">{{ n }}
    <a href="{% url 'send_monthly_report' %}" style="margin-left: 1vw;">Review</a>
</div>
{% endfor %}
<h1 class="display-1 text-center" style="margin-top:15vw;">Human Tracking System</h1>
<img src="{% url 'video_feed' %}" style = "display: block; margin-left: auto; margin-right: auto;">
<!-- <div class="d-flex justify-content-center">
    <div id="live-footage">
        <p class="display-2 text-center">For all your surveillance statistics and prediction needs</p>
    </div>
</div> -->

{% endblock %}