
{% extends "mainbase.html"%}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<style>    
    #live-footage {
        width: 640px;
        height: 480px;
    }
    #notification-bar {
        background-color: rgba(255,0,0,0.3);
        color: maroon;
        padding-left: 1vw;
        padding-top: 1px;
        padding-bottom: 1px;
    }
</style>
{% for n in notif %}

<div class="row" id="notification-bar">{{ n }}
    <a href="{% url 'send_monthly_report' %}" style="margin-left: 1vw;">Review</a>
</div>
{% endfor %}

<img id="live-footage" src="{% url 'video_feed' %}" style = "display: block; margin-left: auto; margin-right: auto;">        

{% endblock %}