
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}   
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- semantic UI -->
        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <!--Chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
              
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        function refresh() {
            var interval = 1000;
            timer = setTimeout('showCurrentTime()', interval);
        }

        var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        function showCurrentTime() {
            var t = new Date();
            var dateString = dayNames[t.getDay()] + ", " + ("0" + t.getDate()).slice(-2) + " " + monthNames[t.getMonth()] + ", " +
                t.getFullYear() + " " +
                ("0" + t.getHours()).slice(-2) + ":" + ("0" + t.getMinutes()).slice(-2) + ":" + ("0" + t.getSeconds()).slice(-2);
            document.getElementById('clock').innerHTML = dateString;
            refresh();
        }
    </script>
    <style>
       .navbar-custom { 
            background-color:#3e2723 ;
            font-size: 15px;
         
        }
        .navbar-custom-light { 
            background-color: #d4c1ba ; 
            color: black;
        } 
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #3e2723;
            color: white;
            text-align: center;
        }

         
    </style>

</head>
<body onload="showCurrentTime()">
    {% if user.is_authenticated %}
    <div id="header" class="fixed-top">

        <nav class="navbar navbar-expand-lg  navbar-custom">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img width="130px" height="70px"src='{% static "background/Logo.png"%}'>
              </a>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item "></li><a href="{% url 'index' %}" class="nav-link text-white">Home</a></li>
              
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Statistics</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'DailyRecords' %}" class="dropdown-item">Records within a range of dates</a>
                        <a href="{% url 'TimelyRecords' %}" class="dropdown-item">Records on a given date</a>    
                    </div>
                </li>
                <li class="nav-item"><a href="{% url 'Prediction' %}" class="nav-link text-white">Prediction</a></li>
                
                {% if user.is_staff %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Settings</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'user_settings' %}" class="dropdown-item">Manage Users</a>
                        <a href="{% url 'system_settings' %}" class="dropdown-item">System Settings</a>    
                    </div>
                </li>
                {% endif %}
                
                <li class="nav-item"><a href="{% url 'account' %}" class="nav-link text-white">My Account</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-white">Logout</a></li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-sm  navbar-custom-light">
            <ul class="navbar-nav ml-lg-auto ">
                <li class="col"><span id="clock"></span></li>
                
            </ul>
        </nav>
    </div>
    {% endif %}
    
    <!-- <div class="container-fluid" style="margin-top:8vw; margin-bottom: 3vw;"> -->
        {% block content %}{% endblock %}
    </div>
    <footer class="footer font-small">

        <!-- Copyright -->
        <div class="col text-center py-3">
            <!-- <div class="row text-center">
                Contact Us
            </div>
            <div class="row text-center">
                Adress: Molpe road, Katubadda
            </div>
            <div class="row text-center">
                Adress: Molpe road, Katubadda
            </div><div class="row text-center">
                Adress: Molpe road, Katubadda
            </div> -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <i class="fas fa-home mr-3"></i> 24Servil@gmail.com</p>
                <!-- <p>
                  <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p>
                  <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                  <i class="fas fa-print mr-3"></i> + 01 234 567 89</p> -->
        
              </div>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
</body>

</html>