{% extends "mainbase.html"%}
{% block title %}UserSetting{% endblock %}

{% block content %}
<style>
body,html{
        background-image: url("/static/background/Brick wall background.png");
        /* background: linear-gradient(to right, #22c1c3, #fdbb2d); */
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
}   
.btn3D{
     /* background-color: #2e1c16;  */
    box-shadow: -10px 10px red, -9px 9px red, -8px 8px red, -7px 7px red, -6px 6px red, -5px 5px red, -4px 4px red, -3px 3px red, -2px 2px red, -1px 1px red;
    /* border: 1px solid orange; */

} 
.btn:hover{
}
</style>
<div id="user">
    <div class="container">
        <div class="d-flex justify-content-left ">
            <div class="col-md-8">
                <h1 class="display-3" style="margin-top:10vw;">Manage Users</h1>
            <div style="margin-bottom: 3vw;"></div>
           
            
           
            <a href="{% url 'all_users' %}" class="col-md-6 btn btn-secondary text-center" name="view_user"> View Users</a>
            <div style="margin-bottom: 3vw;"></div>
            <a href="{% url 'register' %}" class="col-md-6 btn btn-secondary text-center"name="add_user"> Add New User</a>
            <div style="margin-bottom: 3vw;"></div>        
                    
               
              
            <a href="{% url 'Security' %}" class="col-md-6 btn btn-secondary text-center" name="view_recipient">View Recipients of Security Alerts</a>
            <div style="margin-bottom: 3vw;"></div>
            <a href="{% url 'RecipientAdd' %}" class="col-md-6 btn btn-secondary text-center" name="add_recipient">Add New Recipient of Security Alerts</a>
        
            </div>
        </div>
        
    </div>
    
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();

    });
</script>
{% endblock %}