{% extends 'mainbase.html'%}
{% block title %}Activation{% endblock %}

{% block content %}
<div class="col-md-6" style="margin-top: 12%;">
    <h1 class="display-3" style="margin-top: 5%;">Account Activation</h1>

    {% if not expired %}
    <p>{% if resend_requested == '' %}An {% else %}A new {% endif %}
        activation link has been sent to the following email address:</p>
    <h3>{{ user_email }}</h3>

    <form action="{% url 'activate' %}" method="POST" style="margin-top: 3vw;">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_key">Please enter the 6-digit code you received: </label>
            <input type="text" id="id_key" name="key_given" class="col-md-6 form-control">
            <div style="color: red;">
                {% if invalid %}
                <p>Invalid code!</p>
                {% elif empty %}
                <p>Please give the code!</p>
                {% endif %}
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-success">

        {% else %}
        <h2 style="color: red;">Your activation code has expired!</h2>
        {% endif %}
        {% if resend %}
            {% if connectivity %}
                {% url 'resend_code' "new" as resend_url %}
                <a href="{{ resend_url }}">
                    <span class="btn btn-primary">Send New Activation Code</span>
                </a>
            {% else %}
                <h5 style="color: red;">Cannot send New Activation code!</h5>
                <p>Please connect your device to the internet, and then refresh the browser.</p>
            {% endif %}
        {% endif %}
    </form>
</div>
{% endblock %}